.navbar-custom {
    // background-color: #1e6abf;
    background-color: #bd1ca2;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav .nav-link {
    color: white;
}

.navbar-custom .dropdown-toggle::after {
    color: white;
}

.primary {
    color: #1e6abf;
}

.custom-badge {
    background-color: #e6eeff; /* Light blue background */
    color: #0d6efd; /* Blue text */
    padding: 0.25em 0.75em; /* Adjust padding to match the image */
    font-weight: 500; /* Ensure the font-weight is similar */
}