@import "scss/adminlte";

// Custom CSS
#app {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden !important;
}

#sidebar_scrolling_section {
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
}

.active>.page-link,
.page-link.active {
    background-color: $desino !important;
    border-color: $desino !important;
    color: $white !important;
}

.nav-item > .nav-link.active {
    background-color: $desino !important;
    color: white !important;
}

.nav-item.menu-open > .nav-link.active {
    background-color: $white !important;
    color: $dark !important;
}

.hover-menu,
.hover-sort {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.section_name_area_cover {
    &:hover .hover-menu {
        cursor: pointer;
        opacity: 1;
        visibility: visible;
    }
}

.section_name_area_cover {
    &:hover .hover-sort {
        cursor: grab;
        opacity: 1;
        visibility: visible;
    }
}

.section_detail {
    p {
        img {
            width: -webkit-fill-available;
        }
    }
}

.form-select,
.form-control {
    height: 40px !important;
}

// for multi select customization

.multiselect__option--selected.multiselect__option--highlight,
.multiselect__option--group-selected.multiselect__option--highlight {
    background: $desino !important;
    color: $white !important;
}

.multiselect__option--selected.multiselect__option--highlight::after,
.multiselect__option--group-selected.multiselect__option--highlight::after {
    background: $desino !important;
    color: $white !important;
    content: attr(data-deselect);
}

.multiselect__option--highlight {
    background: $desino !important;
    outline: none;
    color: $white !important;
}

.multiselect__option--highlight::after {
    content: attr(data-select);
    background: $desino !important;
    color: $white !important;
}

.multiselect__select {
    width: 30px !important;
}

// .multiselect {
//     height: 38px !important;
// }

.multiselect__tags {
    //min-height: 38px !important;
    //height: 38px !important;
    display: block;
    width: 100%;
    padding: 4px 30px 0px 12px !important;
    line-height: normal !important;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    box-shadow: none !important;
    background-clip: padding-box;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.multiselect-filter-custom-border .multiselect__tags {
    border-color: $desino !important;
    border-width: 2px !important;
}

.multiselect__placeholder {
    color: var(--bs-body-color) !important;
    font-size: initial !important;
}

.is-invalid {
    .multiselect__tags {
        border-color: var(--bs-form-invalid-border-color);
        padding-right: calc(1.5em + .75rem);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right calc(.375em + .1875rem) center;
        background-size: calc(.75em + .375rem) calc(.75em + .375rem);
    }
}

.dropdown-menu {
    min-width: 7rem !important;
}


//.multiselect {
//    height: 44px !important;
//}

.multiselect__tag {
    position: relative;
    display: inline-block;
    padding: 4px 26px 4px 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: #fff;
    line-height: 1;
    background: $desino !important;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}

.multiselect__tag_for_macro_status {
    position: relative;
    display: inline-block;
    padding: 4px 26px 4px 10px;
    border-radius: 5px;
    margin-right: 10px;
    color: #fff;
    line-height: 1;
    background: $desino;
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
}

.multiselect__tag-icon::after {
    content: "×";
    color: white;
    font-size: 14px;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
    min-height: calc(100vh);
    max-height: calc(100vh);
    overflow-y: auto;
}

.form-control:focus {
    box-shadow: none !important;
}


.sticky-col {
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 2;
    white-space: nowrap;
    width: 100px;
}

.sticky-col-2 {
    position: sticky;
    left: 100px;
    background-color: white;
    z-index: 2;
    white-space: nowrap;
    width: 150px;
}

.first-col {
    width: 100px;
}

.second-col {
    width: 150px;
}

.v3dp__elements button.selected span {
    background-color: $desino !important;
    color: white !important;
}

.v3dp__elements button span:hover {
    background-color: $desino !important;
    color: white !important;
}

#timeBookingPageSection .outer {
    position: relative
}

#timeBookingPageSection .inner {
    overflow-x: auto;
    overflow-y: hidden;
}

#timeBookingPageSection .scrolling table {
    width: auto;
}

#timeBookingPageSection .scrolling td,
#timeBookingPageSection .scrolling th {
    vertical-align: top !important;
    padding: 10px 5px !important;
    min-width: 100px !important;
}

#timeBookingPageSection .scrolling th.abs1,
#timeBookingPageSection .scrolling th.abs2,
#timeBookingPageSection .scrolling th.abs3,
#timeBookingPageSection .scrolling th.abs4,
#timeBookingPageSection .scrolling th.total_abs1,
#timeBookingPageSection .scrolling th.total_abs2,
#timeBookingPageSection .scrolling th.total_abs3,
#timeBookingPageSection .scrolling th.lastrow_abs {
    position: absolute;
}

#timeBookingPageSection .inner {
    margin-left: 540px;
}

#timeBookingPageSection .scrolling th.abs1 {
    left: 0;
    width: 200px;
}

#timeBookingPageSection .scrolling th.abs2 {
    left: 200px;
    width: 300px;
}

#timeBookingPageSection .scrolling th.abs3 {
    left: 500px;
    width: 40px;
    min-width: auto !important;
}

#timeBookingPageSection .scrolling th.abs4 {
    width: 40px;
    min-width: auto !important;
}

#timeBookingPageSection .scrolling th.total_abs1 {
    left: 0;
    width: 500px;
}

#timeBookingPageSection .scrolling th.total_abs2 {
    left: 500px;
    width: 40px;
    min-width: auto !important;
}

#timeBookingPageSection .scrolling th.total_abs3 {
    width: 40px;
    min-width: auto !important;
}

#timeBookingPageSection .scrolling th.lastrow_abs {
    left: 0;
    width: 500px;
}

.max-h-250 {
    max-height: 250px;
    min-height: 250px;
    overflow-y: auto;
}
.test-case-cardbody {
    max-height: 300px;
    min-height: 150px;
    overflow-y: auto;
}

.max-h-ticket-comment {
    height: 500px;
    overflow-y: auto;
}

.optimize-image img {
    max-width: 100% !important;
    height: auto !important;
}

.color-macro-status-detail-ticket {
    background-color: #394151;
}

.color-macro-status-clarify-and-estimate {
    background-color: #A6853D;
}

.color-macro-status-develop-wait-for-client {
    background-color: #A64D3D;
}

.color-macro-status-develop {
    background-color: #3D62A6;
}

.color-macro-status-test-wait-for-deployment-to-test {
    background-color: #A64D3D;
}

.color-macro-status-test {
    background-color: #A69A3D;
}

.color-macro-status-validate-waiting-for-deployment-to-acc {
    background-color: #A64D3D;
}

.color-macro-status-validate {
    background-color: #3D99A6;
}

.color-macro-status-ready-for-deployment-to-prd {
    background-color: #A64D3D;
}

.color-macro-status-done {
    background-color: #213559;
}

.color-activity-log-deploy-acc {
    background-color: transparent;
    color: black;
}

.color-activity-log-deleted {
    background-color: #dc3545;
}
#sidebar_initiative_selection .multiselect__tags .multiselect__single{
    font-size: 0.85rem;
    font-weight: bold;
    margin-bottom: 0 !important;
}
#sidebar_initiative_selection .multiselect__content-wrapper ul.multiselect__content .multiselect__option{
    padding: 5px !important;
}
#sidebar_initiative_selection .multiselect__content-wrapper ul.multiselect__content .custom-option{
    font-size: 0.85rem;
    font-weight: bold;
}
